<%= "#{Company.get_company(CompanyProject.get_project(@task)).name} #{CompanyProject.get_project(@task).project}" %>
<br>
<table>
  <thead>
    <tr>
      <th>time started</th>
      <th>time ended</th
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
     <% @task_det.each do |det| %>
       <tr>
         <td><%=  det.time_worked.strftime("%H:%M %-m/%-d/%y") %></td>
         <td></td>
         <% if det.time_count.nil?%>
          <td><%= link_to 'End task time', edit_task_work_path(det) %></td>
         <% else %>
          <td><%= det.time_count%></td>
        <% end%>
        <% if det.time_count.nil?%>
         <td><%= link_to 'Forgot to end', update_time_task_work_path(det) %></td>
        <% end %>
       </tr>
     <% end %>
   </tbody>
</table>
